
body{
	background-color: #fff;

}

.banner{
	/*border: 2px solid #323;*/
	height: 100%;
}

.header{
	background-color: #eee;
	box-shadow: 4px 4px 0 #d9d9da;
	height: 20%;
}

.box{
	margin-left: 34%;
	margin-top: 5%;
	position: center;
	/*font-family: Vivaldi Italic;*/

}

.inbox{
	margin-left: 5%;
	border: 1px solid rgba(0,0,0,0.2);
	width: 40%;
	height: 380px;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}

.lowerbox{
	position: absolute;
	margin-top: 8%;
	margin-left: 2%;
}
h1{
	margin-left: 2%;
	padding-top: 1%;
}
h4{
	margin-left: 2%;
	padding-top: 2%;
	position: absolute;

}

.but{
	margin-left: 40%;
	margin-top: 55%;
	border-left: 1px solid rgba(0,0,0,0.3);
	background-color: #d9d9da;
}

.btn-custom-one{
	padding: 5%;

}